@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

:root{
  --dot-color: rgba(51, 51, 51, 0.295);
}

*{
  font-family: 'Josefin Sans', sans-serif;
}

*:focus{
  outline: none;
}

body{
  background-color: rgb(255, 255, 255);
  /* zoom: 175%; */
}

.App {
  text-align: center;
}

input{
  margin: 5px 0px 5px 0px;
}

/**
 * ==============================================
 * Login Area
 * ==============================================
 */

.loginBox {
  display: inline-block;
  margin: 2px;
}

.upcoming-freeze{
  opacity: 0.1;
}

/**
 * ==============================================
 * Dot Typing
 * ==============================================
 */
 .snippet {
  position: relative;
  background: #fff;
  padding: 3rem 5%;
  margin: 1.5rem 0;
  box-shadow: 0 .4rem .8rem -.1rem rgba(0, 32, 128, .1), 0 0 0 1px #f0f2f7;
  border-radius: .25rem;
}

.stage {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 2rem 0;
  margin: 0 -5%;
  overflow: hidden;
}

 .dot-typing {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--dot-color);
  color: var(--dot-color);
  box-shadow: 9984px 0 0 0 var(--dot-color), 9999px 0 0 0 var(--dot-color), 10014px 0 0 0 var(--dot-color);
  animation: dotTyping 1.5s infinite linear;
}

@keyframes dotTyping {
  0% {
    box-shadow: 9984px 0 0 0 var(--dot-color), 9999px 0 0 0 var(--dot-color), 10014px 0 0 0 var(--dot-color);
  }
  16.667% {
    box-shadow: 9984px -10px 0 0 var(--dot-color), 9999px 0 0 0 var(--dot-color), 10014px 0 0 0 var(--dot-color);
  }
  33.333% {
    box-shadow: 9984px 0 0 0 var(--dot-color), 9999px 0 0 0 var(--dot-color), 10014px 0 0 0 var(--dot-color);
  }
  50% {
    box-shadow: 9984px 0 0 0 var(--dot-color), 9999px -10px 0 0 var(--dot-color), 10014px 0 0 0 var(--dot-color);
  }
  66.667% {
    box-shadow: 9984px 0 0 0 var(--dot-color), 9999px 0 0 0 var(--dot-color), 10014px 0 0 0 var(--dot-color);
  }
  83.333% {
    box-shadow: 9984px 0 0 0 var(--dot-color), 9999px 0 0 0 var(--dot-color), 10014px -10px 0 0 var(--dot-color);
  }
  100% {
    box-shadow: 9984px 0 0 0 var(--dot-color), 9999px 0 0 0 var(--dot-color), 10014px 0 0 0 var(--dot-color);
  }
}