@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

:root{
  --dot-color: rgba(51, 51, 51, 0.295);
}

*{
  font-family: 'Josefin Sans', sans-serif;
}

*:focus{
  outline: none;
}

body{
  background-color: rgb(255, 255, 255);
  /* zoom: 175%; */
}

.App {
  text-align: center;
}

input{
  margin: 5px 0px 5px 0px;
}

/**
 * ==============================================
 * Login Area
 * ==============================================
 */

.loginBox {
  display: inline-block;
  margin: 2px;
}

.upcoming-freeze{
  opacity: 0.1;
}

/**
 * ==============================================
 * Loading Animation
 * ==============================================
 */

 div.loading{
   position: relative;
   left: 14.75rem;
   display: flex;
   justify-content: center;
 }
div.loading span{
  height: 8px;
  width: 8px;
  margin: 5px;
  border-radius: 50%;
  background-color: rgb(59, 59, 59);
  transition: width 0.5s ease-in-out;
  animation:  dance .5s infinite;
}

@keyframes dance {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 50%;
  }
}


 